h1 {
    animation: Alerta 5s infinite;
}
img{
    animation: leviosa 5s alternate-reverse infinite;
}

@keyframes Alerta {
    0% {
        color: black;
    }

    25% {
        color: blue;
    }

    50% {
        color: green;
    }

    75% {
        color: yellow;
    }

    90% {
        color: red;
    }
    100%{color: black;}
}
@keyframes leviosa {
    0%{transform: translateY(-20px) rotate(5deg) scale(1.1);border-radius:100px;}
   
    100%{transform: translateY(20px) rotate(-5deg);}
}
